@media (max-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  .aboutone__block {
    padding: 0 20px !important;
  }

  .AboutOne__content {
    padding: 20px !important;
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 380px;
    margin: 0 auto;
  }

  .aboutone__block {
    padding: 0 !important;
  }

  .AboutOne__content {
    padding: 20px 0 !important;
  }

  .AboutOne__content h1 {
    height: 50px !important;
    font-size: 30px !important;
  }

  .AboutOne__content p {
    font-size: 14px !important;
    text-align: start !important;
  }
}

@media (max-width: 376px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }

  .aboutone__block {
    padding: 0 !important;
  }

  .AboutOne__content {
    padding: 20px 0 !important;
  }

  .AboutOne__content h1 {
    height: 50px !important;
    font-size: 27px !important;
  }

  .AboutOne__content p {
    font-size: 13px !important;
    text-align: start !important;
    line-height: 20px !important;
  }
}
